h1,h2 {
    padding-top: 0;
    margin-top:0;
}

.Cast__detail {
    padding:30px;
    position: relative;
}
.Cast__detail_container {
    display: flex;
}

.Cast__info {
    width: 70%;
    padding:0px 20px;
}

.Movie__overview {
    color:rgba(112, 102, 102, 0.849);
}

.Cast__movies {
    width:30%;
} 

.Cast__overView {
    color:rgba(112, 102, 102, 0.849);
}


@media screen and (min-width:320px) and (max-width:667px){
    .Cast__detail_container{
        display: block;        
    }
    .Cast__poster {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .Cast__movies {
        width:100%;
    } 
    .Cast__info {
        width: 100%;
        padding:20px 0px;
    }

   
}

