.Movie__detail {
    padding:30px;
}
.Movie__detail_container {
    display: flex;
}

.Movie__poster {
  
}

.Movie__info {
    width: 60%;
}

.Movie__title {

}

.Movie__rating {

}

.Movie__year {

}

.Movie__runtime {
    
}

.Movie__genres {

}


.Movie__cast {
    width:40%;
} 

.Movie__trailer {
}


@media screen and (min-width:320px) and (max-width:667px){
    .Movie__detail_container{
        display: block;        
    }
}

