h1,h2 {
    padding-top: 0;
    margin-top:0;
}

.Movie__detail {
    padding:30px;
}
.Movie__detail_container {
    display: flex;
}

.Movie__info {
    width: 70%;
    padding:0px 20px;

}

.Movie__genres {
    margin: 10px 0px;
}
.Movie__genre {
    margin:10px 10px;
    margin-left: 0px;
}

.Movie__overview {
    color:rgba(112, 102, 102, 0.849);
}

.Movie__cast {
    width:30%;
} 

.Cast__profile {
    margin: 10px 0px;
}

.Movie__suggestion {
    margin-top: 50px;
}

@media screen and (min-width:320px) and (max-width:667px){
    .Movie__detail_container{
        display: block;        
    }
    .Movie__poster {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .Movie__cast {
        width:100%;
    } 
    .Movie__info {
        width: 100%;
        padding:20px 0px;
    }

    .Movie__suggestion {
        position: static;
        margin-top: 15px;
     }

   
}

